In [7]:
from os import listdir
from os.path import isfile, join
import pandas as pd

In [10]:
def concat(setno, epoch):
    path = "Results"+str(setno)+"_"+str(epoch)+"/"
    onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]
    df = pd.DataFrame()
    for file in onlyfiles:
        cff = pd.read_csv(path+file)
        df = df.append(cff)
    return df

In [13]:
Results0_100 = concat(0,100)

In [20]:
print(Results0_100["ReE"].mean())
print(Results0_100["ReE"].std())

-0.31079159621708297
3.8924805864078373

In [30]:
Results0_100.head(10)

   Unnamed: 0       ReH       ReE      ReHT  index  replica
0           0  2.238641 -7.280724  0.297246      0        0
1           1  2.238640 -7.280724  0.297245      1        0
2           2  2.238632 -7.280725  0.297237      2        0
3           3  2.238640 -7.280724  0.297244      3        0
0           0  2.422279  0.377393 -0.567229      0        1
1           1  2.422289  0.377391 -0.567217      1        1
2           2  2.422290  0.377391 -0.567215      2        1
3           3  2.422289  0.377391 -0.567216      3        1
0           0  0.906087 -2.873427  4.278525      0       10
1           1  0.906087 -2.873427  4.278524      1       10

In [32]:
Results0_100.iloc[[7]]

Index(['Unnamed: 0', 'ReH', 'ReE', 'ReHT', 'index', 'replica'], dtype='object')

In [34]:
test1 = 0
print(test1)
def testfunc():
    global test1
    test1 = 10
testfunc()
print(test1)

0
10